*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* INIZIO CLASSI GLOBALI */

.d-flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.justify-end{
    justify-content: end;
}

.align-center{
    align-items: center;
}

.f-wrap{
    flex-wrap: wrap;
}

.row-reverse{
    flex-direction: row-reverse;
}


/* FINE CLASSI*/

main{
    width: 100vw;
    height: 100vh;
}

/* INIZIO CALCOLATRICE */
.calculator{
    background-color: lightgray;
    width: 320px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.model{
    height: 100px;
    background-color: gray;
    font-family: sans-serif; /* TODO cercare font simile al mokup */
}

.display{
    height: 70px;
    font-size: 40px;
    background-color: black;
    color: greenyellow;
    font-family: 'Seven Segment', sans-serif;
}
.display > span{
    margin: 0px 20px;
}

/* INIZIO BUTTONS */

/* INIZIO NUMPAD */

.numpad{
    width: 220px;
    height: 330px;
    background-color: red;
    padding: 10px;
}
.number{
    width: calc(170px/3);
    height: calc(170px/3);
    margin: 5px;
    background-color: aqua;
    text-align: center;
    line-height: calc(170px/3);
    font-size: 30px;
}

.number.zero{
    width: calc(370px/3);
    order: 1;
}
/* FINE NUMPAD*/

.commands{
    width: 100px;
    height: 330px;
    background-color: blue;
}

/* FINE BUTTONS */
/* FINE CALCOLATRICE */