*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* INIZIO CLASSI GLOBALI */

.d-flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

/* FINE CLASSI*/

main{
    width: 100vw;
    height: 100vh;
    background-color: yellow;
}

/* INIZIO CALCOLATRICE */
.calculator{
    background-color: lightgray;
    width: 320px;
    height: 500px;
}

.model{
    height: 100px;
    background-color: gray;
}

.display{
    height: 70px;
    background-color: black;
}

/* INIZIO BUTTONS */

.numpad{
    width: 220px;
    height: 330px;
    background-color: red;
}

.commands{
    width: 100px;
    height: 330px;
    background-color: blue;
}
/* FINE BUTTONS */
/* FINE CALCOLATRICE */